{{^user}}
    <p>Salut. <a href="/login">Identifie-toi</a> pour participer aux challenges&nbsp;!</p>
{{/user}}
{{#user}}
    <p>Salut, {{ displayName }}. Résous <a href="/submit">les challenges</a> ou regarde <a href="/leaderboard">le leaderboard</a>.</p>
{{/user}}
