<table>
<thead>
    <tr>
        <th scope="col">Login</th>
        <th scope="col">Points</th>
    </tr>
</thead>
<tbody>
{{#winners}}
    <tr>
        <td>{{xlogin}}</td>
        <td>{{score}}</td>
    </tr>
{{/winners}}
</tbody>
</table>
