{{#submitted}}
    <p>Le flag est {{.}}&nbsp;!</p>
{{/submitted}}
{{#user}}
    <p>Il faut attendre une minute entre deux soumissions de flag.</p>
    <p>Retourne sur <a href="/submit"> la page des challenges</a> pour réessayer.</p>
{{/user}}
